<ion-view view-title="Boodschap toevoegen">
  <div class="bar bar-header balanced">
    <h1 class="title">Boodschap toevoegen</h1>
  </div>
  <ion-content class="margin-top">
    <div>
    <br>
      <div class="list" ng-keypress="vm.key($event, vm.grocery)">
        <div class="text-align">
          <h3 ng-show="vm.groceryTrue === false">Boodschap toevoegen</h3>
          <h3 ng-show="vm.groceryTrue === true">Boodschap aanpassen</h3>
        </div>
        <br>
        <div class="alert alert-danger alert-dismissable" ng-repeat="error in vm.errorMessage">{{error}}</div>
        <label class="item item-input item-stacked-label" >
          <span class="input-label">Boodschap</span>
          <input type="text" ng-model="vm.grocery.name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Omschrijving</span>
          <textarea ng-model="vm.grocery.description"></textarea>
        </label>
  	    <div class="wrapper">
         <button  class="btn btn-block verticalCentre btnDefault" ng-click="vm.captureImage()" >Maak een foto</button>
          <a class="btn btn-lg newButton" ng-show="vm.showImage === true" ng-click="vm.newImage()">
              <span class="glyphicon glyphicon-plus"></span>  Gemaakte foto
          </a>
          <div id="main" >
             <img  id="capturedImage" ng-show="vm.groceryTrue === true" ></img>
          </div>
  	    </div>
        <div class="flex">
          <div>
            <div class="text-align">
        			<button class="btn btnGreen margin-top-10" ng-click="vm.saveGrocery(vm.grocery)" ng-show="vm.groceryTrue === false">
        				Bewaar boodschap
        			</button>
              <button class="btn btnGreen margin-top-min-10" ng-click="vm.updateGrocery(vm.grocery)" ng-show="vm.groceryTrue === true" >
                Update boodschap
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>