<ion-view view-title="Boodschap toevoegen">
  <div class="bar bar-header balanced">
    <h1 class="title">Bonnetje toevoegen</h1>
  </div>
  <ion-content class="margin-top">
    <div class="list" ng-keypress="vm.key($event, vm.receipt)">
    <br>
      <div class="text-align">
        <h3 ng-show="vm.receiptTrue === false">Bonnetje toevoegen</h3>
        <h3 ng-show="vm.receiptTrue === true">Bonnetje aanpassen</h3>
      </div>
      <br>
      <div class="alert alert-danger alert-dismissable" ng-repeat="error in vm.errorMessage">{{error}}</div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Naam</span>
        <input type="text" ng-model="vm.receipt.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Omschrijving</span>
        <textarea ng-model="vm.receipt.description"></textarea>
      </label>
	    <div class="wrapper">
        <button  class="btn btn-block verticalCentre btnDefault" ng-click="vm.captureImage()">Maak een foto</button>
        <a class="btn btn-lg newButton" ng-show="vm.showImage === true" ng-click="vm.newImage()">
            <span class="glyphicon glyphicon-plus"></span>  Gemaakte foto
        </a>
        <div id="main" >
           <img  id="capturedImage" ng-show="vm.receiptTrue === true"></img>
        </div>
	    </div>
      <div class="flex">
        <div>
          <div class="text-align">
      			<button class="btn btnGreen margin-top-10" ng-click="vm.saveReceipt(vm.receipt)" ng-show="vm.receiptTrue === false">
      				Bewaar bonnetje
      			</button>
            <button class="btn btnGreen margin-top" ng-click="vm.update(vm.receipt)" ng-show="vm.receiptTrue === true">
              Update bonnetje
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>