<ion-view view-title="Boodschappen" animation="slide-left">
    <ion-content class="margin-top" on-swipe-left="vm.goToReceiptPage()">
	  	<ion-refresher on-refresh="vm.doRefresh(true)">
		    <ion-refresher-content
		      pullingIcon="arrow-dropdown"
		      pullingText="Pull to refresh"
		      refreshingSpinner="circles"
		      refreshingText="Refreshing...">
	    	</ion-refresher-content>
	  	</ion-refresher>
		<ul class="lists">
			<li class="borderBottom">
				<div class="wrapper-checkbox font-size">
					<b>Gehaald</b>
				</div>
				<div class="wrapper-description font-size">
					<b>Boodschap</b>
				</div>
			</li>
		    <li ng-repeat="grocery in vm.groceries | orderBy:'checked':0">
		    	<div class="wrapper-checkbox" ng-click="vm.checked($event, {{grocery}})">
		    		<input type="checkbox" ng-model="grocery.checked" ng-checked="grocery.checked === '1'">
		    	</div>
		    	<div class="wrapper-description" ng-click="vm.showGroceryImage(grocery.id)">
		    		<p>{{grocery.name}}</p>
		    	</div>
		    	<div class="wrapper-photo" ng-click="vm.showGroceryImage(grocery.id)">
		    		<div class="photo" ng-style="{'background-image': 'url(http://192.168.178.165/storage' + grocery.image.path + ')'}"></div>
		    	</div>
		    </li>
		</ul>
    </ion-content>
		<button class="btn btn-circle" ui-sref="addGrocery" >
			<i class="material-icons" style="color:white;">add</i>
		</button>
  </ion-view>