<ion-view view-title="Afbeelding">
    <ion-content class="margin-top">
      <ion-refresher on-refresh="vm.doRefresh(true)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <div class="flex">
      <div>
        <div class="btn btnDelete width-160" ng-click="vm.deleteGrocery(vm.image.id)" ng-show="vm.receipt === false" >
          Verwijderen
        </div>
        <div class="btn btnDelete  margin-top-0 width-160" ng-click="vm.deleteReceipt(vm.image.id)" ng-show="vm.receipt === true" >
          Verwijderen
        </div>
      </div>
      <div>
        <button class="btn btnGreen width-160" ng-click="vm.goToReceipt(vm.image.id)" ng-show="vm.receipt === true" >
            Bewerken
        </button>
        <button class="btn btnGreen margin-top-0 width-160" ng-click="vm.goToGrocery(vm.image.id)" ng-show="vm.receipt === false">
           Bewerken
        </button>
      </div>
    </div>
    <br>
    <div class="list" >
      <label class="item item-input item-stacked-label" ng-show="vm.receipt === true">
        <span class="input-label"><b>Gebruiker:</b> </span>
        <div>{{vm.image.user.name}}</div>
      </label>
      <label class="item item-input item-stacked-label" ng-show="vm.receipt === true">
        <span class="input-label"><b>Naam:</b> </span>
        <div>{{vm.image.name}}</div>
      </label>
      <label class="item item-input item-stacked-label" ng-show="vm.receipt === false">
        <span class="input-label"><b>Boodschap:</b> </span>
        <div>{{vm.image.name}}</div>
			</label>
      <label class="item item-input item-stacked-label">
        <span class="input-label"><b>Omschrijving</b></span>
        <div class="wrap">{{vm.image.description}}</div>
      </label>
		</div>
      <img ng-click="vm.openImageViewer('{{vm.image.image.path}}')" class="imgPhoto" src="http://192.168.178.165/storage{{vm.image.image.path}}" ng-if="vm.image.image.path">
    </ion-content>
  </ion-view>