<ion-view view-title="login">
	<ion-content class="margin-top">
		<div class="formModalLogin">
			<div>
				<div class="logoWrapper">
					<img src="img/app.png" width="auto" class="imglogo">
				</div>
				<br>
				<h4 style="text-align: center;">Boodschappen app</h4>
		    	<div class="alert alert-danger alert-dismissable" ng-repeat="error in vm.errorMessage">{{error}}</div>
				<div class="list">
				  <label class="item item-input">
				    <span class="input-label">Email</span>
				    <input type="email" ng-model="vm.email">
				  </label>
				  <label class="item item-input">
				    <span class="input-label" >Password</span>
				    <input type="password" ng-model="vm.password">
				  </label>
				</div>
			  <button class="btn btnGreen" ng-click="vm.login(vm.email, vm.password)">
			  	<p class="no-margin" ng-if="vm.loading === false">Log in</p>
			  	<i class="fa fa-circle-o-notch fa-spin" style="font-size:15px;" ng-if="vm.loading === true"></i>
			  </button>
			  <button class="btn btnDefault" ui-sref="register">
				Nog geen account?
			  </button>
			</div>
		</div>
	</ion-content>
</ion-view>