<div ng-controller="NavController as vm" class="tabs-striped tabs-top tabs-color-light nav">
  <div class="tabs balanced">
    <a class="tab-item" ui-sref="groceries" ng-class="{active:vm.isSet(1)}" ng-click="vm.setTab(1)">
      Boodschappen
    </a>
    <a class="tab-item" ui-sref="receipt" ng-class="{active:vm.isSet(2)}" ng-click="vm.setTab(2)">
      Bonnetjes
    </a>
    <a class="float-right"  ng-class="{active:vm.isSet(3)}" ng-click="vm.setTab(3)">
		<ion-icon name="log-out" ng-click="vm.logout()"></ion-icon>
    </a>
  </div>
</div>
