<ion-view view-title="Bonnetjes" animation="slide-right">
    <ion-content class="margin-top" on-swipe-right="vm.goToGroceryPage()">
	  <ion-refresher on-refresh="vm.doRefresh(true)">
	    <ion-refresher-content
	      pullingIcon="arrow-dropdown"
	      pullingText="Pull to refresh"
	      refreshingSpinner="circles"
	      refreshingText="Refreshing...">
	    </ion-refresher-content>
	  </ion-refresher>
		<div class="row"></div>
		<ul class="lists">
			<li class="borderBottom" style="padding-top:0px !important;">
				<div class="wrapper-checkbox font-size">
					<b>Afgehandeld</b>
				</div>
				<div class="wrapper-description font-size">
					<b>Bonnetje</b>
				</div>
			</li>
		    <li ng-repeat="receipt in vm.receipts | orderBy:'checked':0" ng-show="receipt.user.email === vm.userLoggedIn || vm.user.label === 'boss'">
		    	<div class="wrapper-checkbox" ng-click="vm.checked($event, {{receipt}})">
		    		<input type="checkbox" ng-model="receipt.checked" ng-checked="receipt.checked === '1'">
		    	</div>
		    	<div class="wrapper-description" ng-click="vm.showReceiptImage(receipt.id)">
		    		<p>{{receipt.name}}</p>
		    	</div>
		    	<div class="wrapper-photo" ng-click="vm.showReceiptImage(receipt.id)">
		    		<div class="photo" ng-style="{'background-image': 'url(http://192.168.178.165/storage' + receipt.image.path + ')'}"></div>
		    	</div>
		    </li>
		</ul>
    </ion-content>
		<button class="btn btn-circle" ui-sref="addReceipt">
		   <i class="material-icons" style="color:white;">add</i>
		</button>
  </ion-view>