<ion-view view-title="Registrerem">
    <ion-content class="margin-top ">
    	<div class="formModalLogin">
    		<div>
    			<div class="logoWrapper">
    				<img src="img/app.png" width="350" class="imglogo">
    			</div>
	    		<br>
	    		<h4 style="text-align: center;">Boodschappen app</h4>
		    	<div class="alert alert-danger alert-dismissable" ng-repeat="error in vm.errorMessage">{{error}}</div>
					<div class="list">
						 <label class="item item-input">
					    <span class="input-label">Naam</span>
					    <input type="text" ng-model="vm.info.name">
					  </label>
					  <label class="item item-input">
					    <span class="input-label">Email</span>
					    <input type="email" ng-model="vm.info.email">
					  </label>
					  <label class="item item-input">
					    <span class="input-label">Wachtwoord</span>
					    <input type="password"  ng-model="vm.info.password">
					  </label>
					  <label class="item item-input">
					    <span class="input-label" >Wachtwoord herhalen</span>
					    <input type="password" ng-model="vm.info.password2">
					  </label>
					</div>
				  <button class="btn btnGreen" ng-click="vm.register(vm.info)">
				  	Registreren
				  </button>
					<button class="btn bntDefault" ui-sref="login">
						Heb je al een account?
					</button>
				  </div>
			</div>
		</div>
    </ion-content>
  </ion-view>