/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
.balanced{
	background-color:#CC9772   !important;
	margin-top: -45px;
}

.tabs-color-light .tab-item.tab-item-active, .tabs-color-light .tab-item.active, .tabs-color-light .tab-item.activated{
	/*color:#006637;*/
	border:#00A296 solid 1px !important;
}

.flex{
	display: flex;
	justify-content: center;
}

.flex > div{
	padding: 5px;
}

.text-align{
	text-align: center;
}

.margin-top{
	margin-top:50px;
}

.margin-top-10{
	margin-top: 10px;
}

.margin-top-0{
	margin-top:0px !important;
}

.no-margin{
	margin: 0px !important;
}

.icons-color{
	color:white;
	font-size:45px;
}

.icons-color:active{
	color:black;
}

.wrapper{
	text-align: -webkit-center;
	margin-top: 25px;
}

.btn{
	width: 100%;
}


.btn.btnGreen{
	background-color: #006637;
	color: white;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.btn.btnGreen:active{
	background-color: #8FB53A;

}

.btn.btnDefault{
	background-color: white;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	border: 1px solid #ddd;
}

.btn+.btn {
	margin-top: 10px;
}

.btn.btnDelete{
	background-color: #E50029;
	color:white;
	float: right;
	/*width:15%;*/
}

.backgroundLogin{
	background-color: #d9d9d9!important;
}

.formModalLogin{
	width:auto;
	height: auto;
	margin: auto;
	margin-top:50px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.logoWrapper{
	text-align: center;
}

.btn-circle{
	z-index: 100 !important;
	border-radius: 50% !important;
	width:50px;
	height: 50px;
	position: fixed;
	bottom:0;
	right: 0;
	margin-right: 25px;
	margin-bottom: 25px;
	background-color:  #00A296;

}
.btn-circle > i {
	line-height: 1.5;
}

.btn-circle > ion-icon{
	/*font-size: 25px;*/
}

#captureImage{
	height:250px;
	width: 250px;
	background-color: #c79b70;
}

#capturedImage{
	height: 250px;
	width:inherit;
}

.button{
	text-align: center;
}

.imgPhoto{
	width: inherit;
}

.wrap{
	white-space: normal;
}

a > ion-icon{
	font-size: x-large;
	margin:12px;
	color: white;
	opacity: 0.4;
}

a > ion-icon:active{
	color:white;
}

.lists{
	padding:0px;
	list-style: none;

}

.lists li:first-child {
	padding-bottom: 30px;
	height:35px;
}

.lists li:first-child > div {
	height:31px;
}

.lists li{
	clear: both;
	padding: 13px 7px 15px 15px;
	padding-bottom: 49px;
	border-bottom: 1px solid #eee;
}

.lists li > div{
	float:left;
	height: 50px;
}

.lists .wrapper-checkbox{
	width:22%;
}

.lists .wrapper-description{
	width:50%;

}

.lists .wrapper-description p{
	margin-top:7px;
	overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.lists .wrapper-photo{
	width:20%;
	float:right;
}

.lists .wrapper-photo > .photo{
	float:right;
	background-size: cover;
	background-position: center center;
	height: 50px;
	width: 50px;
	margin-top:-7px;
	background-color:#f8f8f8;
}

input[type="checkbox"]{
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	background-color: #e6e6e6;
	border-radius: 50%;
	box-sizing: border-box;
	position: relative;
	box-sizing: content-box ;
	width: 30px;
	height: 30px;
	border-width: 0;
	transition: all .3s linear;
	margin-left:6px;
	margin-top: 4px;
}
input[type="checkbox"]:checked{
  background-color: #00A296;
}

input[type="checkbox"]:focus{
  outline: 0 none;
  box-shadow: none;
}

.font-size{
	font-size: 11px;
}

.borderBottom{
	border-bottom: 1px solid #e6e6e6;
	padding-left: 10px;
	padding-top: 10px !important;
}

.width-160{
	width: 165px;
	margin-bottom: -14px;
}